<div class="auth-container">
    <div class="auth-image-container">
        <div class="auth-background-content">
            <img src="./assets/auth-images/fondo.png" alt="image" class="auth-background">
            <div class="auth-fromzero-logo">
                <img src="./assets/auth-images/logo.png" alt="Logo">
            </div>
        </div>
    </div>
    <div class="auth-form-container">
        <div class="auth-form-content">
            <router-outlet />
        </div>
    </div>
</div>


