<form [formGroup]="form" (ngSubmit)="send()">
        <mat-form-field>
            <!-- <mat-label>Ingrese su correo electrónico</mat-label> -->
            <input matInput formControlName="email" type="email" placeholder="Ingresar Correo">
        </mat-form-field>
    
    <div style="display: flex;justify-content: center;">
        <button mat-flat-button color="primary" type="submit">
            Enviar
        </button>
    </div>
</form>
<div style="display: flex;justify-content: center;">
    <a mat-button routerLink="/login">
        Iniciar sesión
    </a>
</div>